<div class="mod-pager">
    <%if(totalPages>1){%>
    <ul>
        <%if(curPage!=1){%>
        <li><a href="<%=_url%>?page=1" class="" data-page="1">首页</a></li>
        <li><a href="<%=_url%>?page=<%=(curPage-1)%>" class="" data-page="<%=(curPage-1)%>">上一页</a></li>
        <%}%>

        <%
            var width=5;
            var offset=Math.ceil(width/2);
            var start=Math.max(1,Math.min(curPage+offset,totalPages)-width);
            var end=Math.min(totalPages, start + width);
        %>

        <%
        for(var i = start; i <= end; i++){
        if(i == curPage){
        %>
        <li><span class="cur"><%=i%></span></li>
        <%
        } else{
        %>
        <li><a href="<%=_url%>?page=<%=i%>" data-page="<%=i%>"><%=i%></a></li>
        <%
        }
        }
        %>
        <%if(curPage!=totalPages){%>
        <li><a href="<%=_url%>?page=<%=(parseInt(curPage)+1)%>" class="" data-page="<%=(parseInt(curPage)+1)%>">下一页</a></li>
        <li><a href="<%=_url%>?page=<%=totalPages%>" class="" data-page="<%=totalPages%>">末页</a></li>
        <%}%>
    </ul>
    <%}%>
</div>