<% layout('admin/layout.ejs')%>
<div class="mod-article-list">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>权限</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%list_datas.forEach(function(v,i){%>
        <tr>
            <td><%=(curPage-1)*pageSize+(i+1)%></td>
            <td><%=v.username%></td>
            <td><%=v.mail%></td>
            <%if(v.level==1){%>
                <td>管理员</td>
            <%}else{%>
                <td>超级管理员</td>
            <%}%>
            <td><%=v.createAt%></td>
            <td>
                <%if(admin_username==v.username){%>
                    <a href="/admin/users/add?id=<%=v._id%>" data-id="<%=v._id%>" class="btn btn-editor">编辑</a>
                <%}else{%>
                    <a href="javascript:;" data-id="<%=v._id%>" class="btn btn-editor btn-none">编辑</a>
                <%}%>
                <%if(level==1){%>
                    <a href="javascript:" data-id="<%=v._id%>" class="btn btn-remove btn-none">移除</a>
                <%}else{%>
                    <a href="javascript:" data-id="<%=v._id%>" data-username="<%=v.username%>" class="btn btn-remove btn-admin-remove">移除</a>
                <%}%>
            </td>
        </tr>
        <%})%>
        </tbody>
    </table>
    <% include ../pager.ejs%>
</div>
<script src="/js/admin.min.js"></script>