<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title><%= content_data.title %></title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/lib/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <link rel="stylesheet" href="/css/common.min.css" type="text/css">
</head>
<body>
<% include header.ejs%>
<div class="mod-container">
    <div class="wrap">
        <div class="article-main">
            <div class="div-h">
                <div class="div-h-1"><%=content_data.title%></div>
                <div class="div-h-2"><em class="type"><%=content_data.type_name%></em> <em class="author"><%=content_data.author%></em> <em class="time"><%=content_data.updateAt%></em>
                    <span class="num-look"><i class="ico ico-num-look"></i><%=content_data.view%></span></div>
            </div>
            <div class="article-content">
                <%-content_data.content%>
            </div>
            <div class="part-f">
                <div class="ar-run-div clearfix">
                    <a href="<%=preurl%>" target="_blank" title="<%=pretitle%>" class="ar-run ar-prev"><i class="ico ico-prev"></i>上一篇：<%=pretitle%></a>
                    <a href="<%=nexturl%>" target="_blank" title="<%=nexttitle%>" class="ar-run ar-next">下一篇：<%=nexttitle%><i class="ico ico-next"></i></a>
                </div>
                <div class="ar-share">
                    <div class="item-1">
                        <ul class="bdsharebuttonbox" data-tag="share_1">
                            <li>
                                <a href="#" class="bds_tsina ico ico-1" data-cmd="tsina" title="分享到新浪微博"></a>
                            </li>
                            <li>
                                <a href="#" class="bds_weixin ico ico-2" data-cmd="weixin" title="分享到微信"></a>
                            </li>
                            <li>
                                <a href="#" class="bds_qzone ico ico-3" data-cmd="qzone" title="分享到QQ空间"></a>
                            </li>
                        </ul>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                        <p>快给朋友分享吧！</p>
                    </div>
                    <div class="item-2 clearfix praise-point" data-id="<%=content_data._id%>" id="j-praise">
                        <span class="zan-w">喜欢</span>
                        <span class="praise-txt"><%=content_data.favor%></span>
                        <span class="add-num "><em class="mypraise">+1</em></span>
                    </div>
                    <div class="item-3">
                        <a href="/share" class="more">查看更多</a>
                        <p>点击查看更多！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-comment">
            <div class="m-comment">
                <div class="hd clearfix">
                    <span class="title-item">网友评论</span>
                    <span class="comment-num"><em>99</em>条评论</span>
                </div>
                <div class="textarea-box">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs%>
</body>
</html>