  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="/css/common.min.css" type="text/css">
</head>
<body>
<!--header-->
<div class="sub-nav" id="j-sub-nav">
  <div class="wrap clearfix">
    <a class="logo" href="/"></a>
    <ul class="clearfix">
      <li class="cur">
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/share">分享</a>
      </li>
      <li>
        <a href="/team">团队</a>
      </li>
      <li>
        <a href="/recruit">招聘</a>
      </li>
    </ul>
  </div>
</div>
<!--banner-->
<div class="swiper-container mod-section1" id="j-mod-section1">
  <span class="bg" data-swiper-parallax="-20%"></span>
  <div id="j-star-box"  data-swiper-parallax="-10%" class="star-box">
    <span class="i-ligtht1"></span>
    <span class="i-ligtht2"></span>
    <span class="i-ligtht3"></span>
    <span class="i-ligtht4"></span>
    <span class="i-ligtht5"></span>
    <em class="m-star1"></em>
    <em class="m-star2"></em>
    <em class="m-star3"></em>
    <em class="m-star4"></em>
    <em class="m-star5"></em>
    <em class="m-star6"></em>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <a href="" class="slide-box" data-swiper-parallax="300">
        <div class="m-slide">
          <span class="logo"></span>
          <h3 class="title1"></h3>
          <span class="info-txt">UI分享   +   前端分享   +   职位招聘</span>
        </div>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="" class="slide-box" data-swiper-parallax="300">
        <div class="m-slide">
          <h3 class="title2"></h3>
          <span class="i-join">JOIN</span>
          <i class="i-circle circle1"></i>
          <i class="i-circle circle2"></i>
        </div>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="" class="slide-box" data-swiper-parallax="300">
        <div class="m-slide">
          <h3 class="title3"></h3>
          <span class="i-join i-detail">点击详情</span>
          <i class="i-circle detail-circle"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <span class="i-tip" id="j-scroll-tip"></span>
</div>
<!--banner-->
<div class="mod-section section2-box">
  <div class="wrap">
    <div class="hd">
      <h3 class="title">我们的服务</h3>
      <span class="title-tip">OUR SERVICES</span>
      <span class="title-info">我们专注用户体验设计和开发</span>
    </div>
    <ul class="clearfix bd fair-list">
      <li>
        <a href="">
          <span class="fair-title">视觉设计</span>
          <span class="fair-title-tip">VISUAL DESIGN</span>
          <span class="fair-info">熟知审美趋势，从需求，用户，市场出发寻求和定义视觉风格</span>
          <span class="fair-bg">
            <i class="m-bg"></i>
            <i class="line-left"></i>
            <i class="line-right"></i>
          </span>
        </a>
      </li>
      <li>

        <a href="">
          <span class="fair-title">UI设计</span>
          <span class="fair-title-tip">UI DESIGN</span>
          <span class="fair-info">消化产品需求，分析用户场景，搭建产品信息和逻辑框架</span>
          <span class="fair-bg">
              <i class="m-bg"></i>
              <i class="line-left"></i>
              <i class="line-right"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="fair-title">用户研究</span>
          <span class="fair-title-tip">UX RESEARCH</span>
          <span class="fair-info">通过多种用户研究方式，勾勒用户轮廓，挖掘用户与服务的潜在机会</span>
          <span class="fair-bg">
            <i class="m-bg"></i>
            <i class="line-left"></i>
            <i class="line-right"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="fair-title">品牌设计</span>
          <span class="fair-title-tip">VI DESIGN</span>
          <span class="fair-info">提炼品牌关键词，挖掘用户诉求，结合产品与用户的接触点</span>
          <span class="fair-bg">
              <i class="m-bg"></i>
              <i class="line-left"></i>
              <i class="line-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="mod-section section3-box" id="j-section3">
    <div class="hd wrap">
      <h3 class="title">产品案例及分享</h3>
      <span class="title-tip">PRODUCT CASE AND SHARE</span>
      <span class="title-info">我们将最好的用户体验带给你带给您</span>
    </div>
    <div class="bd clearfix">
      <dl>
        <dt class="blind"></dt>
        <dd>
          <!--<%for(var i=0;i<4;i++) {%>-->
          <a href="/detail/<%=datas[i]._id%>?type=<%=datas[i].type%>">
            <span class="img-box">
              <img src="<%=datas[i].thumb%>" alt="<%=datas[i].title%>">
            </span>
            <span class="txt-info">
              <em class="title"><%=datas[i].title%></em>
              <em class="title-info"><%=datas[i].summary%></em>
              <i class="line1"></i>
              <i class="line2"></i>
              <em class="txt-more">more +</em>
            </span>
          </a>
         <!-- <%}%>-->
        </dd>
      </dl>
      <dl>
        <dt class="blind"></dt>
        <dd>
          <!--<%for(var j=4;j<8;j++) {%>-->
          <a href="/detail/<%=datas[j]._id%>?type=<%=datas[j].type%>">
            <span class="img-box">
              <img src="<%=datas[j].thumb%>" alt="<%=datas[j].title%>">
            </span>
            <span class="txt-info">
              <em class="title"><%=datas[j].title%></em>
              <em class="title-info"><%=datas[j].summary%></em>
              <i class="line1"></i>
              <i class="line2"></i>
              <em class="txt-more">more +</em>
            </span>
          </a>
          <!-- <%}%>-->
        </dd>
      </dl>
    </div>
</div>
<div class="mod-section section4-box">
  <div class="wrap">
    <div class="hd">
      <h3 class="title">最新动态</h3>
      <span class="title-tip">NEWS</span>
      <span class="title-info">一个团队就是一个家庭</span>
    </div>
    <div class="bd">
      <div class="swiper-container team-swiper">
        <div class="swiper-wrapper">
            <% for(var m=0;m<team_datas.length;m++){
              var n=parseInt(m/4);
            if (m%4==0){%>
          <div class="swiper-slide">
            <ul>
                <%
                var _max=(n+1>=team_datas.length/4)?(team_datas.length%4):4;
                for(var k=0;k<_max;k++){%>
              <li>
                <a class="clearfix" target="_blank" href="/detail/<%=team_datas[k+n*4]._id%>?type=<%=team_datas[k+n*4].type%>">
                  <img src="<%=team_datas[k+n*4].thumb%>" alt="<%=team_datas[k+n*4].title%>">
                  <span class="info-box">
                     <span class="info-tittle"><%=team_datas[k+n*4].title%></span>
                     <span class="m-info"><%=team_datas[k+n*4].summary%></span>
                  </span>
                </a>
              </li>
                <%}%>
            </ul>
          </div>

            <%}}%>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
<!--<div class="mod-section section5-box">
  <div class="hd wrap">
    <h3 class="title">联系我们</h3>
    <span class="title-tip">CONTACT US</span>
    <span class="title-info">我们期待您的加入</span>
  </div>
  <div class="bd clearfix">
    <a target="_blank" href="http://map.baidu.com/?latlng=24.491134,118.187769&title=厦门米冠网络科技有限公司&content=厦门市思明区软件园二期观日路26号之5%206室&autoOpen=true&l" class="map">
      <img src="/images/map.jpg">
    </a>
  </div>
</div>-->
<% include footer.ejs%>
</body>
</html>








