<div class="pages clearfix">
    <% if(totalPages > 1){ %>
    <ul class="clearfix">
        <% if(curPage != 1){ %>
        <li><a href="<%= _url %>?type=<%=type%>&page=<%= (curPage - 1) %>" class="pre-page" data-page="<%= (curPage - 1) %>"></a></li>
        <% } %>
        <%
            var width = 5,offset = Math.ceil(width / 2);
            var start = Math.max(1, (Math.min(curPage + offset, totalPages) - width));
            var end = Math.min(totalPages, start + width);
        %>
        <%
        for(var i = start; i <= end; i++){
            if(i == curPage){
        %>
            <li><a class="active"><%= i %></a></li>
            <%
         } else{%>
            <li><a href="<%= _url %>?type=<%=type%>&page=<%= i %>" data-page="<%= i %>"><%= i %></a></li>
        <%}}
        %>
        <% if(curPage != totalPages){ %>
        <li><a class="next-page" href="<%= _url %>?type=<%=type%>&page=<%= (curPage+ 1) %>" data-page="<%= (curPage + 1) %>"></a></li>
        <% } %>
    </ul>
    <% } %>
</div>