<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title><%= title %></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/common.min.css" type="text/css">
</head>
<body>
    <% include header.ejs%>
    <div class="mod-banner">
        <a class="share-banner-box"  href="" title="">
            <div class="banner"></div>
            <div class="hover-bg"></div>
            <h1 class="title">屋台食戟 - ISUX新年派对</h1>
        </a>
    </div>
    <div class="wrap-box">
        <div class="share-box">
            <div class="share-box-nav">
                <ul class="clearfix">
                <li>
                    <a href="<%= _url %>?type=8" class="<%if(itemId==8){%>active<%}%>">
                        <i class="ico sh-1 moves"></i>
                        <p>全部</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=2" class="<%if(itemId==2){%>active<%}%>">
                        <i class="ico sh-2 moves"></i>
                        <p>视觉设计</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=3" class="<%if(itemId==3){%>active<%}%>">
                        <i class="ico sh-3 moves"></i>
                        <p>前端技术</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=4" class="<%if(itemId==4){%>active<%}%>">
                        <i class="ico sh-4 moves"></i>
                        <p>团队活动</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=5" class="<%if(itemId==5){%>active<%}%>">
                        <i class="ico sh-5 moves"></i>
                        <p>用户研究</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=6" class="<%if(itemId==6){%>active<%}%>">
                        <i class="ico sh-6 moves"></i>
                        <p>交互设计</p>
                    </a>
                </li>
                <li>
                    <a href="<%= _url %>?type=7" class="<%if(itemId==7){%>active<%}%>">
                        <i class="ico sh-7 moves"></i>
                        <p>闲话杂谈</p>
                    </a>
                </li>
            </ul>
            </div>
            <div class="recommend share-main">
            <ul class="recommend-ul clearfix">
            <% content_data.forEach(function (item) {%>
                <li>
                    <a href="/detail/<%=item._id%>?type=<%=item.type%>" target="_blank" title="<%=item.title%>">
                        <img src="<%=item.thumb%>" alt="<%=item.thumb%>" title="<%=item.thumb%>">
                        <div class="div-title clearfix">
                            <p class="c-1 ell"><%=item.title%></p>
                            <p class="c-2 good"><i class="ico good"></i><%=item.favor%></p>
                            <p class="c-2 look"><i class="ico look"></i><%=item.view%></p>
                        </div>
                    </a>
                </li>
             <% })%>
            </ul>
            <% include pager.ejs%>
        </div>
        </div>
    </div>
    <% include footer.ejs%>
</body>
</html>